.container {
  width: 1230px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

/* @media (--sm-viewport) {
  .container {
    max-width: 576px;
  }
}

@media (--md-viewport) {
  .container {
    max-width: 768px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media (--lg-viewport) {
  .container {
    max-width: 1024px;
  }
}

@media (--xl-viewport) {
  .container {
    max-width: 1312px;
  }
} */
