.seo {
  display: flex;
  align-items: center;
  gap: 40px;
  justify-content: center;
}

.seo__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 80px;
  min-height: 556px;
  background: no-repeat url('../../../images/SEO_background.svg');
  background-position: right center;
  background-size: cover;
  overflow: hidden;
  position: relative;
}

.seo__illustration {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.seo__image {
  max-width: 100%;
  height: auto;
}

.seo__content {
  flex: 1;
  z-index: 2;
}

@media (width > 900px) {
  .seo {
    width: 85%;
    max-width: 1230px;
  }

  .seo__content {
    max-width: 460px;
  }

  .seo__form.form {
    max-width: 460px;
  }
}

.seo__title {
  margin-bottom: 30px;
  font-size: 46px;
  font-weight: 900;
  line-height: 130%;
  letter-spacing: 0%;
  color: #fff;
}

.seo__background {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: auto;
  max-width: 35vw;
  height: auto;
  z-index: 1;
  pointer-events: none;
  opacity: 0.8;
}
