/* Component imports */
@import './styles/components/container.css';
@import './styles/components/header.css';
@import './styles/components/hero.css';
@import './styles/components/breadcrumb.css';
@import './styles/components/services.css';
@import './styles/components/footer.css';
@import './styles/components/seo.css';
@import './styles/components/form.css';
@import './styles/components/markets.css';
@import './styles/components/cases.css';
@import './styles/components/partners.css';
@import './styles/components/news.css';
@import './styles/global/utility.css';
@import './styles/global/media.css';

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

.wrapper {
  background: no-repeat url('../images/background.svg');
  width: 100%;
  min-width: 100%;
  height: 600px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-x: hidden;
}

.container {
  width: 1230px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
